<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  
  <ion-searchbar placeholder="Buscar Pokemón" color="medium"></ion-searchbar>

 
    <ion-item-sliding>
      
      <ion-item color="dark">
        <ion-chip color="light">
          <ion-label color="grass">001</ion-label>
        </ion-chip>
        <ion-label>
          <div>
            <h2>Bulbasaur</h2>
            <ion-badge color="grass">Grass</ion-badge>
            <ion-badge color="poison">Poison</ion-badge>
          </div>

        </ion-label>

        <ion-thumbnail slot="end">
            <img src="/assets/icon/001.png">
        </ion-thumbnail>
        </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">

          <ion-button color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>

        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

     <!-- 002 -->

     <ion-item-sliding>
      
      <ion-item color="dark">
        <ion-chip color="light">
          <ion-label color="fire">004</ion-label>
        </ion-chip>
        <ion-label>
          <div>
            <h2>Charmander</h2>
            <ion-badge color="fire">Fire</ion-badge>
          </div>

        </ion-label>

        <ion-thumbnail slot="end">
            <img src="/assets/icon/003.png">
        </ion-thumbnail>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger">
  
            <ion-button color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
  
          </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>

     <!-- 003 -->

    <ion-item-sliding>
      
      <ion-item color="dark">
        <ion-chip color="light">
          <ion-label color="water">007</ion-label>
        </ion-chip>
        <ion-label>
          <div>
            <h2>Squirtle</h2>
            <ion-badge color="water">Water</ion-badge>
          </div>

        </ion-label>

        <ion-thumbnail slot="end">
            <img src="/assets/icon/002.png">
        </ion-thumbnail>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger">
  
            <ion-button color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
  
          </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>

    <!-- 004 -->

    <ion-item-sliding>
      
      <ion-item color="dark">
        <ion-chip color="light">
          <ion-label color="electric">025</ion-label>
        </ion-chip>
        <ion-label>
          <div>
            <h2>Pikachu</h2>
            <ion-badge color="electric">Electric</ion-badge>
          </div>

        </ion-label>

        <ion-thumbnail slot="end">
            <img src="/assets/icon/004.png">
        </ion-thumbnail>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger">
  
            <ion-button color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
  
          </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>

    <!-- 005 -->

    <ion-item-sliding>
      
      <ion-item color="dark">
        <ion-chip color="light">
          <ion-label color="fire">006</ion-label>
        </ion-chip>
        <ion-label>
          <div>
            <h2>Charizard</h2>
            <ion-badge color="fire">Fire</ion-badge>
            <ion-badge color="flying">Flying</ion-badge>
          </div>

        </ion-label>

        <ion-thumbnail slot="end">
            <img src="/assets/icon/005.png">
        </ion-thumbnail>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger">
  
            <ion-button color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
  
          </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>

    <!-- 006 -->

    <ion-item-sliding>
      
      <ion-item color="dark">
        <ion-chip color="light">
          <ion-label color="normal">052</ion-label>
        </ion-chip>
        <ion-label>
          <div>
            <h2>Meowth</h2>
            <ion-badge color="normal">Normal</ion-badge>
          </div>

        </ion-label>

        <ion-thumbnail slot="end">
            <img src="/assets/icon/006.png">
        </ion-thumbnail>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger">
  
            <ion-button color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
  
          </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>

<!-- 007 -->

<ion-item-sliding>
      
  <ion-item color="dark">
    <ion-chip color="light">
      <ion-label color="fighting">067</ion-label>
    </ion-chip>
    <ion-label>
      <div>
        <h2>Machoke</h2>
        <ion-badge color="fighting">Fighting</ion-badge>
      </div>

    </ion-label>

    <ion-thumbnail slot="end">
        <img src="/assets/icon/007.png">
    </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">

        <ion-button color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>

      </ion-item-option>
    </ion-item-options>
</ion-item-sliding>

<!-- 008 -->

<ion-item-sliding>
      
  <ion-item color="dark">
    <ion-chip color="light">
      <ion-label color="fighting">057</ion-label>
    </ion-chip>
    <ion-label>
      <div>
        <h2>Primeape</h2>
        <ion-badge color="fighting">Fighting</ion-badge>
      </div>

    </ion-label>

    <ion-thumbnail slot="end">
        <img src="/assets/icon/008.png">
    </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">

        <ion-button color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>

      </ion-item-option>
    </ion-item-options>
</ion-item-sliding>

<!-- 009 -->

<ion-item-sliding>
      
  <ion-item color="dark">
    <ion-chip color="light">
      <ion-label color="psychic">065</ion-label>
    </ion-chip>
    <ion-label>
      <div>
        <h2>Alakazam</h2>
        <ion-badge color="psychic">Psychic</ion-badge>
      </div>

    </ion-label>

    <ion-thumbnail slot="end">
        <img src="/assets/icon/009.png">
    </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">

        <ion-button color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>

      </ion-item-option>
    </ion-item-options>
</ion-item-sliding>

<!-- 010 -->

<ion-item-sliding>
      
  <ion-item color="dark">
    <ion-chip color="light">
      <ion-label color="fighting">106</ion-label>
    </ion-chip>
    <ion-label>
      <div>
        <h2>Hitmonlee</h2>
        <ion-badge color="fighting">Fighting</ion-badge>
      </div>

    </ion-label>

    <ion-thumbnail slot="end">
        <img src="/assets/icon/010.png">
    </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">

        <ion-button color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>

      </ion-item-option>
    </ion-item-options>
</ion-item-sliding>
   
  





</ion-content>
